venv
molecular-property-prediction-challenge/structures_test
molecular-property-prediction-challenge/structures_train
molecular-property-prediction-challenge/dipole_moments_test.csv
molecular-property-prediction-challenge/dipole_moments_train.csv
.DS_Store
submission_smiles_mean_xgb.csv
smiles_output_test.csv
smiles_output.csv
submission_smiles_mean_rf.csv